
.card{
    height: 250px;
    width: 400px;
    background-color: rgb(155, 190, 189);
    color: rgb(2, 37, 88);
    /* margin: 250px, 250px, 250px, 250px;
    justify-content: center;
    align-items: center; */
    border: 3px solid black;  
    border-radius: 25px;  

    position:absolute;
    top: 50%;
    left: 50%;
    margin-top: -9em;
    margin-left: -15em;
  
}

.title{

border-radius: 25px;  
height: 14%;
font-size: 35px;
color: rgb(70, 37, 37);
text-align: center;
}
.data{
    display: flex;
flex-direction: column;
    height: 68%;
    border-radius: 25px;  
    }


.footer{
    display: flex;
    
    height: 0%;
    border-radius: 25px;  
    justify-content: space-evenly;
    align-items: center;

    
}




